{% extends 'index.html' %}

    {% block content %}
    <style>
        body
        {

            background-image: url("{{url_for('static',filename='img/fondo3.jpg')}}");
            background-repeat: no-repeat;
            background-size: 100% 200%; 
        }
    </style>
    
    <div class="container py-4 text-light">
       <div class="row justify-content-center">
            <div class="col-sm-12 col-md-4 col-lg-6 " >
                <h3><p class="fst-italic lh-base aling-top d-flex flex-row-reverse">Un espacio para que poetas profesionales y aspirantes a poetas tengan un lugar donde compartir su trabajo.</p></h3>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="col-sm-4 col-lg-12">
            <table class="table table-dark">
                <!-- te lo arma como una lista a los poemas -->
                <tbody> 
                    <div class="row">
                        {% for poem in poems %}
                        <div class="col-md-4">
                            <div class="card mb-3">
                                <img src="{{url_for('static',filename='img/fondo4.jpg')}}" class="img-fluid rounded-start" alt="...">
                                <h5 class="card-title">{{poem.title}}</h5>
                                <h7 class="card">AUTOR: {{poem.user.name}}</h7>
                                <p class="card-text">{{poem.body}}</p>
                                <h8 class="card">CALIFICACION: {{poem.avg_score}}</h8>
                                <a href="{{url_for('poem.poema', id=poem.id)}}" class="btn btn-light">Ver Mas..</a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </tbody>
            </table>
        </div>    
    </div>  
   
    <footer class="footer">
        <div class="container">
            <div class="col-md-12">
                <br>
               <nav aria-label="Page navigation example">
                   <ul class="pagination justify-content-center" style="float:center">
                   {% if pagination.current_page != 1 %}
                   <li class="page-item">
                     <a class="page-link"
                      href="{{ url_for('main.index', page = (pagination.current_page-1)) }}"
                     >Previous</a>
                   </li>
                   {% else %}
                   <li class="page-item disabled">
                     <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                   </li>
                   {% endif %}
                   {% for n in range(1,pagination.pages+1) %} 
                        {% if n != pagination.current_page %} 
                             <li class="page-item">
                               <a class="page-link" href="{{ url_for('main.index', page = n) }}">{{n}}</a>
                             </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">{{n}}</a>
                            </li>
                        {% endif %}
                   {% endfor %}
                   {% if pagination.current_page != pagination.pages %} 
                   <li class="page-item">
                     <a class="page-link"
                      href="{{ url_for('main.user_main',page = (pagination.current_page+1)) }}" >Next</a>
                   </li>
                   {% else %}
                   <li class="page-item disabled">
                     <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
                   </li>
                   {% endif %}
                   </li>
                 </ul>
               </nav>
         </div>
       </div>
    </footer>    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    {% endblock %}
  