{% extends 'index.html' %}
    {% block menu %}
        {% if not request.cookies.get('access_token') %}
            <nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgb(56, 56, 56);">
                <div class="container-fluid">
                    <a class="navbar-brand text-light" href="{{url_for('main.index')}}">POESIA SIN CORONA</a>
                        <form class="d-flex">
                            <input class="form-control me-auto" type="search" placeholder="Buscar Poemas" aria-label="Search">
                        </form>
                        <ul class="navbar-nav mb-2 mb-lg-10">
                            <a type="button" class="btn btn-success" href="{{url_for('main.login')}}">Ingresar</a>
                        </ul>    
                </div>
            </nav>
        {% else %}
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgb(56, 56, 56);">
            <div class="container-fluid">
                <a class="navbar-brand text-light" href="{{url_for('main.user_main')}}">POESIA SIN CORONA</a>
            </div>
        </nav>
        {% endif %}
    {% endblock %}

{% block content %}

    <div class="row py-5 justify-content-center">
    <div class="card" style="width: 21rem;">
        <div class="card-body">
        <h5 class="card-title">TITULO: {{poems.title}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">AUTHOR: {{poems.user.name}}</h6>
        <p class="card-text">CUERPO: {{poems.body}}</p>
        </div>
    </div>
    </div>

    <!--------------------- scores --------------------------------->

    <div class="col-md-6 second-container">
        <div class="comment justify-content-center">
            <div class="title">
                <h3>COMMENTS</h3>
            </div>
            <div class="comments-container">
                <tbody>
                {% for score in scores %}
                <div class="comment-text">
                    <h8>{{score.user.name}}</h8>
                    <p>{{score.comment}}</p>
                </div>
                {% endfor %}
                </tbody>
            </div>
        </div>

        {% if poems.user.id == request.cookies.get('id') %}
        <div class="row justify-content-center ">
        <div class="card-text" style="width: 21rem;">
                <a href="{{url_for('poem.edit_poem', id=poems.id)}}" class="card-link">Modificar Poema</a>
                <a href="{{url_for('poem.delete_poem', id=poems.id)}}" class="card-link">Eliminar Poema</a>
        </div>
        </div>
        {% endif %}
        {% if poems.user.id != request.cookies.get('id') %}
            <div class="row justify-content-center ">
                <div class="card-text" style="width: 21rem;">
                    <a href="{{url_for('poem.score_poem', id=poems.id)}}" class="card-link">Agregar calificacion</a>
                </div>
            </div>
        {% endif %}

{% endblock %}