<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registro</title>
</head>
<style>
    h1{
        font-weight: bold;
        font-size:25px;
        color:#a52a2a;
    }
    h3{

    }
    h4{

    }
</style>
<body>
    <d1>
        <p> <h1>Bienvenido {{User.name}} {{User.email}}! </h1> </p>
        <h3>Gracias por registrarte en nuestro sistema.</h3>
        <div class="services" style="background-color: #ffe4c4; box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);padding: 10px;border: 1px solid black;width: 250px;">
        <h4>Con Nuestro servicio podras:</h4>
        <ul>
            <li>Cargar tus Poemas</li>
            <li>Eliminar Poemas</li>
            <li>Buscar Poemas propios o de otro poeta que te interese</li>
        </ul>
        </div>
    </d1>
</body>
</html>
